<?xml version="1.0" encoding="utf-8"?><!--
Copyright (C) 2022  Wrichik Basu (basulabs.developer@gmail.com)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.audio.output"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <!--<provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="in.basulabs.shakealarmclock.workmanager-init"
            android:enabled="false"
            android:exported="false"
            tools:node="remove"/>-->

        <provider
            android:name=".backend.MyWorkManagerInitializer"
            android:authorities="in.basulabs.shakealarmclock.backend.MyWorkManagerInitializer"
            android:exported="false" />

        <service
            android:name=".backend.Service_SnoozeAlarm"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Invoked when a ringing alarm is snoozed; stays foreground during the snooze duration,
                starts Service_RingAlarm at the end of the snooze duration, and sets a repeat alarm if the alarm is
                dismissed while being snoozed." />
        </service>

        <service
            android:name=".backend.Service_RingAlarm"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Invoked when an alarm rings; controls the ringing alarm sound, and the ability to
                dismiss the alarm by shaking (which is the main feature of the app)." />
        </service>

        <receiver
            android:name=".backend.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="in.basulabs.shakealarmclock.DELIVER_ALARM" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".frontend.Activity_AlarmsList"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SHOW_ALARMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".frontend.Activity_AlarmDetails"
            android:enabled="true"
            android:exported="false"
            android:parentActivityName=".frontend.Activity_AlarmsList" />

        <activity
            android:name=".frontend.Activity_RingAlarm"
            android:configChanges="orientation|keyboard"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".frontend.Activity_RingtonePicker"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.RINGTONE_PICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".frontend.Activity_Settings"
            android:enabled="true"
            android:exported="false"
            android:parentActivityName=".frontend.Activity_AlarmsList" />

        <service
            android:name=".backend.Service_SetAlarmsPostBoot"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Sets the alarms after a device reboot, and posts an alarm missed notification." />
        </service>

        <activity
            android:name=".frontend.Activity_IntentManager"
            android:configChanges="uiMode|orientation|keyboard|colorMode"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Translucent">

            <intent-filter>
                <action android:name="android.intent.action.DISMISS_ALARM" />
                <action android:name="android.intent.action.SET_ALARM" />
                <action android:name="android.intent.action.SNOOZE_ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".frontend.Activity_ListReqPerm"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".frontend.Activity_RequestPermIntro"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>